include README.md
include LICENSE
recursive-include src/aioflexiv/cpp *.cpp
recursive-include vendor/flexiv_rdk/include *.hpp
include vendor/flexiv_rdk/LICENSE
recursive-include vendor/eigen/Eigen *
include vendor/eigen/COPYING.*
